<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/pagina-inicial">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Canadá</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="slides ion-margin-bottom">
    <ion-slides>
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div>
              <img src="assets/img/pcf1.jpg">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
              <h3 class="ion-text-center">Campus Pearson College UWC</h3>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <ion-card-header>
            <div>
              <img src="assets/img/pcf2.jpg">
            </div>
          </ion-card-header>
          <ion-card-content class="ion-text-left">
            <h3 class="ion-text-center">Campus Pearson College UWC</h3>
          </ion-card-content>
        </ion-card>
      </ion-slide>

    </ion-slides>
  </div>
  <div class="nome ion-margin-bottom">
    <div class="ion-text-center">
      <h2>Pearson College UWC</h2>
    </div>
  </div>

  <div class="container">

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          O Pearson College UWC é um dos 18 colégios fundada pela UWC (United Word Colleges) seu campus está 
          localizado em Pedder Bay, na ponta sul de Vancouver, sendo a aproximadamente 30 quilômetros de Victoria, 
          na província de British Columbia.
          <br> 
          <br>
          A Instituição canadense leva o nome de Lester Bowles Pearson, vencedor do prêmio Nobel da Paz de 1957 e um 
          dos pioneiros campeões do Colégio, nomeado após sua morte. 
          <br>
          <br>
          Em sua estadia é possível frequentar uma escola que traz como intuito "tornar a educação uma força para unir 
          pessoas, nações e culturas pela paz e um futuro sustentável". A escola cobre o último ano do ensino médio de 
          100 alunos aprovados anualmente, sendo esses, jovens entre 16 e 19 anos.
          <br>
          <br>
          Acompanhando a escola é incluso uma faculdade que oferece o currículo do International Baccalaureate, assim 
          possibilitando um ano pré-universitário. Os alunos têm a oportunidade de passar pelos cursos de Filosofia, 
          Ciências Marinhas, Francês, Espanhol, Artes Visuais e Teatro. 
          <br>
          <br>
          O instituto incentiva a realização de atividades dentro e fora das salas de aulas, para isso, ofertam salas modernas
           e atividades ao ar livre, como as atividades de mergulho que acontecem na Reserva Ecológica Race Rocks. Devido a esses
            fatores, tem-se como elemento central o CAS (Criatividade, Atividade e Serviço). O CAS é um programa onde alunos fazem 
            trabalhos voluntários e desenvolvem projetos, estes sendo individuais ou em pequenos grupos.
          <br>
          <br>
          Os estudantes são acomodados no campus do colégio, vivendo juntos. A infraestrutura encontrada é de cinco residências que
           comportam 40 estudantes, sendo 4 pessoas a cada quarto. Possui um refeitório com vista para o mar, salas de aula e laboratórios 
           modernos e bem equipados, contrapondo o fato de o local ter sido construído em um estilo feito para refletir e respeitar a 
           natureza (West Coast). Também é possível encontrar uma biblioteca, um teatro, um auditório, uma instalação para artes visuais 
           e um centro espiritual.
           <br>
           <img src="assets/img/bandeira.gif">
           <h5>Como entrar?</h5>
           
           Para entrar o aluno passa por três etapas:
           <br>
           <br>
           A primeira etapa é a realização de uma prova online que cobre o conteúdo visto no ensino fundamental e 
           noções sobre questões sociais, políticas, culturais e econômicas atuais. Caso aprovado o formulário do 
           candidato será avaliado e assim, possivelmente convidado para participar da segunda etapa.
           <br>
           <br>
           A segunda etapa condiz com uma entrevista, por videoconferência, que será realizada por psicólogos 
           e/ou ex-alunos(as). A entrevista visa aprofundar o conhecimento sobre, por exemplo, a trajetória de 
           cada candidato.
           <br>
           <br>
           Na terceira etapa os candidatos classificados na etapa anterior participaram de um fim de semana 
           imersivo onde realizaram atividades de grupos presenciais avaliada por selecionadores. Também tem-se
            a realização de uma prova semelhante a efetivada na etapa 2.
           <br>
           <br>
           Durante esta etapa é disponibilizado alimentação e acomodação, no entanto, o deslocamento é 
           responsabilidade do candidato e os seus responsáveis.
           <br>
           <br>
           Todo o processo é redigido de acordo com o termo de participação (https://drive.google.com/file/d/1-vjg4ZLqWdrki6TpVeUlEzVB4Ch_fskJ/view)
         </ion-row>
      </ion-grid>
    </ion-item>

  </div>
</ion-content>