<ion-header>
  <ion-toolbar color="sky">
    <ion-title>Configurações</ion-title>
    <ion-buttons slot="start" color="danger">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-card>
      <ion-badge color="sky" class="badge">Alterar endereço de e-mail</ion-badge>
      <ion-item>
        <ion-label position="stacked" >E-mail Atual</ion-label>
        <ion-input placeholder="Digite o e-mail atual"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" >Novo E-mail</ion-label>
        <ion-input placeholder="Digite o novo e-mail"></ion-input>
      </ion-item>

      <ion-button shape="round" expand="block" size="small" color="pinky">
        SALVAR
      </ion-button>
    </ion-card>


    <br/>

    <ion-card>
      <ion-badge color="sky" class="badge">Alterar senha</ion-badge>
      <ion-item>
        <ion-label position="stacked" >Senha atual</ion-label>
        <ion-input placeholder="Digite a senha atual" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" >Nova senha</ion-label>
        <ion-input placeholder="Digite a nova senha" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" >Confirmar senha</ion-label>
        <ion-input placeholder="Digite-a novamente" type="password"></ion-input>
      </ion-item>

      <ion-button shape="round" expand="block" size="small" color="pinky">
        SALVAR
      </ion-button>
    </ion-card>

    <br/>

    <ion-card>
      <ion-badge color="sky" class="badge">Alterar nome de usuário</ion-badge>
      <ion-item>
        <ion-label position="stacked" >Usuário atual</ion-label>
        <ion-input placeholder="Digite o nome de usuário atual"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked" >Novo nome de usuário</ion-label>
        <ion-input placeholder="Digite o novo nome"></ion-input>
      </ion-item>

      <ion-button shape="round" expand="block" size="small" color="pinky">
        SALVAR
      </ion-button>
    </ion-card>

  <br/>


  </div>

</ion-content>
