<ion-header>
  <ion-toolbar color="sky">
    <ion-title>Configurações</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/meu-perfil">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-divider>
      <ion-label>
        Usuário
      </ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Alterar dados</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Alterar senha</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Excluir usuário</ion-label>
    </ion-item>

  </ion-list>

</ion-content>