<ion-content>

  <div class="padding">
    <br>
    <div class="logo">
      <!-- <ion-icon color="light" name="person-circle"></ion-icon> .-->
      <img src="assets/iconpreto.png">
    </div>

    <form [formGroup]="formCadastro">

      <ion-item margin-top="20px">
        <ion-icon name="paper-plane" color="light" size="small"></ion-icon>
        <ion-label color="light"></ion-label>
        <ion-input formControlName="usuario" color="light" placeholder="Nome de usuário" type="text"></ion-input>
        <ng-container *ngFor="let erro of mensagens_validacao.usuario">
          <span class="msg-erro"
            *ngIf="formCadastro.get('usuario').hasError(erro.tipo) && (formCadastro.get('usuario').dirty || formCadastro.get('usuario').touched)">
            {{ erro.mensagem }}
          </span>
        </ng-container>
      </ion-item>

      <ion-item margin-top="20px">
        <ion-icon name="person" color="light" size="small"></ion-icon>
        <ion-label color="light"></ion-label>
        <ion-input formControlName="nome" color="light" placeholder="Nome completo" type="text"></ion-input>
        <ng-container *ngFor="let erro of mensagens_validacao.nome">
          <span class="msg-erro"
            *ngIf="formCadastro.get('nome').hasError(erro.tipo) && (formCadastro.get('nome').dirty || formCadastro.get('nome').touched)">
            {{ erro.mensagem }}
          </span>
        </ng-container>
      </ion-item>

      <ion-item margin-top="20px">
        <ion-icon name="mail" color="light" size="small"></ion-icon>
        <ion-label color="light"></ion-label>
        <ion-input formControlName="email" color="light" placeholder="E-mail" type="text"></ion-input>
        <ng-container *ngFor="let erro of mensagens_validacao.email">
          <span class="msg-erro"
            *ngIf="formCadastro.get('email').hasError(erro.tipo) && (formCadastro.get('email').dirty || formCadastro.get('email').touched)">
            {{ erro.mensagem }}
          </span>
        </ng-container>
      </ion-item>
      
      <ion-item margin-top="20px">
        <ion-icon name="key" color="light" size="small"></ion-icon>
        <ion-label color="light"></ion-label>
        <ion-input formControlName="senha" color="light" placeholder="Crie uma senha" type="password"></ion-input>
        <ng-container *ngFor="let erro of mensagens_validacao.senha">
          <span class="msg-erro"
            *ngIf="formCadastro.get('senha').hasError(erro.tipo) && (formCadastro.get('senha').dirty || formCadastro.get('senha').touched)">
            {{ erro.mensagem }}
          </span>
        </ng-container>
      </ion-item>

      <ion-item margin-top="20px">
        <ion-icon name="key" color="light" size="small"></ion-icon>
        <ion-label color="light"></ion-label>
        <ion-input formControlName="confirmarSenha" color="light" placeholder="Confirme sua senha" type="password"></ion-input>
        <ng-container *ngFor="let erro of mensagens_validacao.confirmarSenha">
          <span class="msg-erro"
            *ngIf="formCadastro.get('confirmarSenha').hasError(erro.tipo) && (formCadastro.get('confirmarSenha').dirty || formCadastro.get('confirmarSenha').touched)">
            {{ erro.mensagem }}
          </span>
        </ng-container>
      </ion-item>


      <br>
      <ion-button color="light" class="ion-button-class" shape="round" fill="outline" size="medium" expand="block"
        (click)="fazerCadastro()">CADASTRAR</ion-button>
      <br>
      <ion-col>
        <a routerLink="/login" class="a">Voltar para login</a>
      </ion-col>

    </form>
  </div>
</ion-content>